.main-section{
  height: 30%;
  border: 1px solid gray;
  border-bottom: 0;
}

.info {
  text-align: center;
}

.last {
  border-bottom: 1px solid gray;
}
.code {
  border: 2px solid #a5ada7;
 background-color: #8d948e;
 display: block;
 width: 50%;
 margin: auto;
}
.warning {
  font-size: 32px;
  font-weight: bold;
}
#navbar {
  border: 2px solid gray;
}
.nav-link {
  border-right: 1px solid gray;
  padding: 10px;
}